body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noScroll {
  overflow: hidden;
}

.menu {
  background: #0B0B0B;
}

.menu__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.menu__list__item a {
  margin: 0;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  height: 27.2px;
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: white;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.menu__list__item a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0B0B0B;
  z-index: 1;
}

.fixed .header-mobile {
  display: none;
}

.header {
  position: relative;
  z-index: 1;
}

.header .top-image img {
  width: 100%;
  vertical-align: bottom;
}

.header .hidden {
  visibility: hidden;
}

.zindex-back {
  z-index: 0;
}

.main__header-fixed {
  margin-top: 47.2px;
}

footer {
  background: #0B0B0B;
}

footer .footer__title {
  padding: 100px;
  margin: 0;
  font-size: 18px;
  text-align: center;
  color: white;
}

.background--white {
  background-color: white;
}

.background--black--1st {
  background-color: #1c1c1c;
}

.background--black--2nd {
  background-color: #202020;
}

.content {
  width: 90%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  z-index: 2;
}

.loading h1 {
  margin: 0;
  padding: 0;
}

.loading #update {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__left {
  width: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__left__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
}

.about__left__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.about__left .about-button {
  display: inline-block;
}

.about__left .about-button a {
  display: inline-block;
  width: 8em;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 36px;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
}

.about__left .about-button a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.about__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__right img {
  width: 100%;
}

.event__title {
  font-size: 48px;
  color: white;
}

.event-article {
  margin-bottom: 100px;
}

.event-article__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.event-article__list__item {
  padding-right: 10px;
}

.event-article__list__item a {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
  text-decoration: none;
  position: relative;
}

.event-article__list__item a img {
  width: 100%;
  vertical-align: bottom;
}

.event-article__list__item a .event-article__description {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 18px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.event-article__list__item a .event-article__description__title {
  line-height: 2;
  margin: 0;
  padding-right: 1em;
}

.event-article__list__item a .event-article__description__subtitle {
  margin: 0;
  padding-right: 1em;
}

.event-article__list__item a:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.event-article__list__item a:hover .event-article__description {
  opacity: 1;
}

.event-article__list__item:last-child {
  padding-right: 0;
}

.event .event-button {
  text-align: center;
}

.event .event-button a {
  display: inline-block;
  width: 8em;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 36px;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
}

.event .event-button a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.news-title {
  font-size: 48px;
  color: black;
}

.news-contents {
  margin-bottom: 100px;
}

.news-contents__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-contents__list__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news-contents__list__item a {
  display: block;
  text-decoration: none;
  padding-left: 2em;
}

.news-contents__list__item a .news-contens__description__date {
  color: rgba(0, 0, 0, 0.8);
}

.news-contents__list__item a .news-contens__description__title {
  color: black;
}

.news-contents__list__item a .news-contens__description__subtitle {
  color: rgba(0, 0, 0, 0.8);
}

.news-contents__list__item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
}

.news-button {
  text-align: center;
}

.news-button a {
  display: inline-block;
  width: 8em;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-size: 36px;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
}

.news-button a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.open-title {
  font-size: 36px;
  margin-bottom: 50px;
}

.open-subtitle {
  text-indent: 2em;
}

.attention-title {
  font-size: 36px;
  margin-bottom: 50px;
}

.attention-contents__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.attention-contents__list__item {
  width: 200px;
  text-align: center;
  color: gray;
}

.attention-contents__list__item img {
  width: 100%;
}

.attention-contents__list__item i {
  font-size: 200px;
}

.link-title {
  font-size: 36px;
  margin-bottom: 50px;
}

.link-contents__list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.link-contents__list__item {
  width: 50%;
}

.link-contents__list__item a {
  padding: 2px;
  display: block;
  position: relative;
}

.link-contents__list__item a img {
  width: 100%;
  vertical-align: bottom;
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
}

.link-contents__list__item a p {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
  color: white;
}

.link-contents__list__item a:hover img {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.guide {
  margin: 0 auto;
  width: 100%;
}

.guide-title {
  font-size: 36px;
  color: white;
}

.guide-contents__list {
  margin: 0;
  padding: 0;
}

.guide-contents__list__item {
  margin-bottom: 50px;
  list-style: none;
}

.guide-contents__list__item .guide-contents__map__title {
  color: white;
}

.guide-contents__list__item .guide-contents__map__image {
  width: 100%;
  border-radius: 5px;
}

.access-title {
  font-size: 36px;
  color: black;
}

.access-contents__list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.access-contents__list__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid black;
}

.access-contents__list__item .access-contents__description {
  display: inline-block;
  text-align: left;
}

.access-contents__list__item .access-contents__description__title {
  margin: 0;
}

.access-contents__list__item .access-contents__description__subtitle {
  margin: 0;
}

.access-contents__list__item:last-child {
  border-right: 0;
}

.access-image iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 5px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.contact-logo img {
  max-width: 512px;
  width: 100%;
}

.contact-logo svg {
  width: 512px;
  height: 512px;
}

.contact-contents {
  width: 500px;
}

.contact-contents__form__title {
  color: white;
  text-align: center;
}

.contact-contents__form #contact-form > :focus {
  outline: 0;
}

.contact-contents__form #contact-form #name {
  margin-bottom: 25px;
  width: 100%;
  line-height: 2;
  text-indent: 1em;
  border: none;
  border-radius: 5px;
}

.contact-contents__form #contact-form #email {
  margin-bottom: 25px;
  width: 100%;
  text-indent: 1em;
  line-height: 2;
  border: none;
  border-radius: 5px;
}

.contact-contents__form #contact-form #message {
  margin-bottom: 25px;
  width: 100%;
  text-indent: 1em;
  line-height: 2;
  border: none;
  border-radius: 5px;
}

.contact-contents__form #contact-form #send {
  display: block;
  margin: 0 auto;
  line-height: 2;
  border: none;
  border-radius: 5px;
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 95%;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .main__header-fixed {
    margin-top: 112px;
  }
  footer .footer__title {
    padding-right: 0;
    padding-left: 0;
  }
  .open {
    left: 0 !important;
    -webkit-transition: left 300ms linear;
    transition: left 300ms linear;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -70%;
    background: #0B0B0B;
    width: 70%;
    height: 100vh;
    -webkit-transition: left 300ms linear;
    transition: left 300ms linear;
  }
  .menu__list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  .menu__list__item a {
    margin: 0;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    height: 27.2px;
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .menu__list__item a:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0B0B0B;
    z-index: 2;
  }
  .fixed .mat {
    opacity: 0;
    background-color: black;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .fixed .header-mobile {
    display: block;
    color: white;
    height: 112px;
  }
  .fixed .header-mobile__mat {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .fixed .header-mobile__title {
    margin: 0;
    padding: 10px;
    text-align: right;
  }
  .fixed .header-mobile__menu-icon {
    display: inline-block;
    margin: 0;
    padding: 10px;
  }
  .fixed::after {
    content: "";
    display: block;
    position: relative;
  }
  .header {
    position: block;
    z-index: 0;
  }
  .header .top-image {
    margin-top: 112px;
  }
  .header .menu {
    display: none;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 600px;
    position: relative;
  }
  .about__left {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
  }
  .about__left .about-button a {
    font-size: 18px;
    line-height: 2;
  }
  .about__left .about-button a:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .about__right {
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
    display: block;
    text-align: right;
  }
  .about__right img {
    width: auto;
    content: url("../assets/image/Mobile/home-about.png");
  }
  .event__title {
    text-align: center;
  }
  .event-article {
    margin-bottom: 100px;
    overflow: hidden;
  }
  .event-article__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-animation-name: slideshow;
            animation-name: slideshow;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
  @-webkit-keyframes slideshow {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    16% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    33% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    49% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    66% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
    84% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slideshow {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    16% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    33% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    49% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    66% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
    84% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .event-article__list__item {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0;
  }
  .event-article__list__item a {
    -webkit-filter: brightness(1);
            filter: brightness(1);
    -webkit-transition: -webkit-filter 0.25s;
    transition: -webkit-filter 0.25s;
    transition: filter 0.25s;
    transition: filter 0.25s, -webkit-filter 0.25s;
  }
  .event-article__list__item a img {
    width: 100%;
    vertical-align: bottom;
  }
  .event-article__list__item a .event-article__description {
    padding-top: 25px;
    position: static;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
  }
  .event-article__list__item a .event-article__description__title {
    padding-right: 0;
    text-align: center;
  }
  .event-article__list__item a .event-article__description__subtitle {
    padding-right: 0;
    text-align: center;
  }
  .event-article__list__item a:hover {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  .event-article__list__item a:hover .event-article__description {
    opacity: 1;
  }
  .event-article__list__item:last-child {
    padding-right: 0;
  }
  .event .event-button {
    display: none;
  }
  .news-title {
    text-align: center;
  }
  .news-contents {
    margin-bottom: 25px;
  }
  .news-contents__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-contents__list__item {
    margin-bottom: 25px;
  }
  .news-contents__list__item:hover {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  .news-button a {
    font-size: 18px;
    line-height: 2;
  }
  .news-button a:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .open-title {
    text-align: center;
  }
  .open-subtitle {
    text-indent: 0;
    text-align: center;
  }
  .attention-title {
    text-align: center;
  }
  .attention-contents__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .attention-contents__list__item {
    margin-bottom: 50px;
  }
  .link-title {
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
  }
  .link-contents__list {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .link-contents__list__item {
    width: 100%;
  }
  .guide-title {
    font-size: 36px;
    color: white;
    text-align: center;
  }
  .access-title {
    font-size: 36px;
    color: black;
    text-align: center;
  }
  .access-contents__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .access-contents__list #tel {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .access-contents__list #name {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .access-contents__list #adress {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .access-contents__list__item {
    height: auto;
    display: block;
    border-right: none;
    border-bottom: 1px solid black;
    padding: 25px;
    text-align: center;
  }
  .access-contents__list__item .access-contents__description {
    text-align: center;
  }
  .access-contents__list__item:last-child {
    border-bottom: 0;
  }
  .contact-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 0;
  }
  .contact-logo svg {
    display: none;
  }
  .contact-contents {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact .content {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */